/*--------------------------------------------------------------
Helpers
--------------------------------------------------------------*/
/* color classes */
.bg-maroon {
  background: $maroon;
  color: white;
}
.maroon {
  color: $maroon;
}
.bg-white {
  background: white;
}
.white {
  color: white;
}
.bg-black {
  background: $black;
}
.black {
  color: $black;
}
.bg-gray {
  background: $gray;
}
.gray {
  color: $gray;
}
.success {
  color: $success;
}
.error {
  color: $error;
}

/* actions */
.click {
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
}

/* positioning */
.no-padding {
  padding: 0 !important;
}
