/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
/* header */
.site-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}

/* top bar */
.top-bar {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: $black;
  .links {
	float: right;
	clear: right;  
  }
  ul {
    height: 100%;
    margin: 0;
	padding: 0;
	padding-right: 30px;
    list-style: none;
	li {
	  display: inline-block;
      padding: 15px;
      color: $white;
      font-size: 1.1em;
      cursor: pointer;
      &.member-link {
        &:hover {
	      background-color: $black-light;
        }
      }
      &.open {background-color: $black-light;}
      a { color: $white; }
      
	}
  }
}


/* members login form */
.login-dropdown {
  position: relative;
  .grid {
	@media (max-width: $screen-sm) { padding: 0; }
  }

  
  #form-member-login {
  display: none;
  float: right;
  clear: right;
  position: relative;
  width: 450px;
  margin: 1px auto;
  margin-right: 30px;
  padding: 20px 30px 30px;
  background-color: $black-light;
  border-radius: 0;
  border-top: 1px solid $hr;
  z-index: 2001;
  @media (max-width: $screen-sm) {
    width: 100%;
    margin: 0 auto;
  }
  &.open {
    display: block;
	animation: fadeIn 0.3s;
    animation-timing-function: ease-out;
  }
  p,
  label {
	color: $white;
	&.status {
	  display: none;
	}
  }

  input {
    width: 100%;
    padding: 2px 10px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background: $white;
    border-radius: 2px;
    &#rememberme { width: auto; }
  }
  input[type="submit"] {
    color: $white;
    margin: 0;
    padding: 10px;
    height: auto;
    background-color: $success;
    box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
  }

}
  
}


.site-branding {
	float: left;
	width: auto;
	max-width: 250px;
}
.head-overflow {
	overflow: visible !important;
}
.navigation-container {
	float: right;
	width: auto;
}

/* menus */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  font-family: $font-heading;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 40px 18px 12px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  &:hover {
    border-bottom: 4px solid white;
    color: $white-dark;
  }
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #dadada;
  background: #fff;
  color: #8c9398;
  float: right;
  position: absolute;
  top: 3.5em;
  right: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  right: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 200px;
  color: #8c9398;
  font-weight: 600;
  padding: 8px 12px;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid #dadada;
  transition: 0.15s ease-in-out;
}
.main-navigation ul ul li:last-child a {
  border-bottom: none;
}
.main-navigation ul ul li {}
.main-navigation li:hover > a {}
.main-navigation ul ul:hover > a {}
.main-navigation ul ul a:hover {
  background: #f1f1f1;
  transition: 0.15s ease-in-out;
}
.main-navigation ul li:hover > ul {
  right: 50%;
  margin-right: -30%;
}
.main-navigation ul ul li:hover > ul {
  right: 100%;
}
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current_page_item > a {}
/* Small menu */
.menu-toggle {
  display: none;
}
@media only screen and (min-width: 1170px) {
  #masthead.is-fixed {
    position: fixed;
    background: rgba(51, 51, 51, 0.95);
    left: 0;
    top: 0;
    height: 90px;
    width: 100%;
  }
  #masthead {
    transition: transform 300ms;
  }
  #masthead img {
    transform: scale(1) translateY(20px);
    transition: transform 300ms;
    transform: scale(0.8) translateY(-3px);
  }
  #masthead.is-fixed img {
    max-width: 102px;
    transition: transform 0.3s, visibility 0s 0s;
  }
}

/* offcanvas slideout mobile menu */
@import "offcanvas-menu";
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  background: none repeat scroll 0 0 $gray;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  line-height: 15px;
  padding: 22px 20px 25px;
  text-align: center;
  width: 48%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  background: none repeat scroll 0 0 $gray;
  border-radius: 3px;
  float: right;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  line-height: 15px;
  padding: 22px 20px 25px;
  text-align: center;
  width: 48%;
}
.nav-links a {
  color: white;
}
