/* all in one event cal plugin custom styles */

// labels
.ai1ec-field-label,
.ai1ec-single-event .ai1ec-field-label,
.ai1ec-multi-event .ai1ec-field-label,
.ai1ec-single-event .ai1ec-time .ai1ec-field-value, 
.ai1ec-multi-event .ai1ec-time .ai1ec-field-value,
.p-location {
  text-transform: capitalize;
  margin: 0 1px;
  @media (max-width: $screen-sm) {
	margin: 0 5px;
  }
}
.ai1ec-time {
  font-size: 1.1em;
}

.ai1ec-field-label {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  color: $black;
}

// single
.ai1ec-multi-event, 
.ai1ec-single-event .ai1ec-time .ai1ec-field-value,
.p-location,
.ai1ec-field-value {
  font-size: 1em;
  font-weight: 400;
}
.ai1ec-excerpt {
  font-weight: 400;
  font-size: 1.2em;
}

// the cal views
.ai1ec-week-view .ai1ec-week .ai1ec-event, 
.ai1ec-oneday-view .ai1ec-oneday .ai1ec-event {
  font-weight: 400;
  font-size: 1.2em;
  text-shadow: none;
}

// footer meta
.ai1ec-event-footer {
  display: none;
}