/*--------------------------------------------------------------
Members
--------------------------------------------------------------*/
$shrek: #655c34;
$nutcracker: #493c4c;

$shrek-light: lighten($shrek,10%);
$shrek-dark: darken($shrek,10%);

$nutcracker-light: lighten($nutcracker,10%);
$nutcracker-dark: darken($nutcracker,10%);

/* memebrs landing (main) */

.choose-bar {
  background-color: black;
  @media (max-width: $screen-sm) { display: none; }
  .intro {
	.title {
      color: $white;
	}
  }
}


.members-landing {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  
  .half {
    position: relative;
    width: 100%;
    flex-basis: 57.14286vh;
    flex-grow: 1;
    &::before {
      content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba($black,0.4);
    }
    .area {
	  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 72%;
      margin: 0;
      padding: 40px 0;
      text-align: center;
      @media (max-width: $screen-sm) { 
	    width: 100%;
	    padding: 0;
	    border: none!important;
	    background-color: inherit!important;
      }
    }
    
    &.left { //shrek
	  background: url('assets/img/bg-shrek.jpg') center center no-repeat;
	  background-size: cover;
	  &::before { background-color: rgba($shrek-light,0.9); }
	  .area { 
	    background-color: $shrek; 
	    border: 4px solid $shrek-dark;
	    &:hover {
		  background-color: $shrek-dark;
		  border-color: darken($shrek-dark,10%);
	    }
	  }
	  
    }
    &.right { //nutcracker
	  background: url('assets/img/bg-nutcracker.jpg') top right no-repeat;
	  background-size: cover;
	  &::before { background-color: rgba($nutcracker-light,0.9); }
	  .area { 
	    background-color: $nutcracker; 
	    border: 4px solid $nutcracker-dark;
	    &:hover {
		  background-color: $nutcracker-dark; 
		  border-color: darken($nutcracker-dark,10%);
	    }
	  }
    }
    .title {
	  color: $white;
    }
  }
  
  
}//.members-landing
