/*--------------------------------------------------------------
Single / Archives / Cat / Post Types
--------------------------------------------------------------*/
#secondary {
  color: $black;
}
.single-blog-entry-header {
  background: #F4F4F4;
  padding: 30px 10px 20px;
  color: $black;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  text-align: center;
}
